{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h3 style="text-align: center;font-family: 'Calistoga', cursive;"><span style="color:#131313;"> Soya</span> <span style='color:#f26419;'>Awwards API</span> </h3><hr>
        <div class="row" >
            <div class="col-lg-2" >

            </div>
            <div class="col-lg-8" >
                <div class="card ">

                    <div class="hero-image" >
                        <div class="hero-text">
                            <h1 style="font-family: 'Calistoga', cursive;color:white;">Soya Awwards <br> API</h1>
                            <h4 class="text-muted" style="color:white;">By :Kiptoo Victor</h4><br>  

                        </div>
                    </div>
                    
                </div>

            </div> 
          
        </div>
    </div>
    <br><br>
{%endblock%}
